@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body {
    background-color:rgba(247, 226, 188, 0.87);
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Navbar Part */

.navbar {
    border-bottom:1px solid rgba(247, 226, 188, 0.87);
    display: flex;
    color: rgba(247, 226, 188, 0.87);
    background-color:hsl(348, 52%, 25%);
    padding: 20px 0px 20px 100px;
    align-items: center;
    justify-content: space-between;
}
.header-title h2
{
  font-size: 3em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.header-logo img {
    width: 84px;
    height: 84px;
    margin-right: auto;
}

.header-link {
    display: flex;
    margin-left: 0;
    padding: 0px 100px 0px 0px;

}

.header-link a {
    text-decoration: none;
    color:rgba(247, 226, 188, 0.87);
    font-size: 18px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    margin-right: 0;
    transition: 0.5s;
}
.header-link a:hover
{
  letter-spacing: 6px;
}

/* Hero Part */

.hero {
    display: flex;
    color: rgba(247, 226, 188, 0.87);
    background-color: hsl(348, 52%, 25%);
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.hero-cta {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;

}
.hero-cta h1 {
    text-transform: capitalize;
    font-weight: 600;
}

.hero-cta p {
    font-family: 'Poppins', sans-serif;
}

.hero-image img {
    width: 500px;
    height: 350px;
    border-radius: 1.8em;
}
/* mission */
.container-mission {
    display: flex;
}
.container-mission .mission-card {
    box-sizing: border-box;
    color: rgba(247, 226, 188, 0.87);
    max-width: 400px;
    /* border: 5px solid rebeccapurple; */
    background-color: hsl(348, 52%, 25%);
    margin-right: auto;
    /* padding: 5em; */
    padding-top: 2em;
}
.mission-card h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 2em;
    padding-top: 0;
    /* border: 5px solid rebeccapurple; */
    /* margin: 0 2em; */
    /* margin-left: 1em; */
    /* text-align: left; */
    margin-top: 0;

}
.mission-card ul li {
    text-align: left;
    font-size: 16px;
}
.mission-card ul {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin:2em 5em;
    margin-left: 1em;
}
/* caraousel */


/* content */
.content h2 {
    font-size: 2em;
    color: hsl(348, 52%, 25%);
}
.content {
    margin-top: 4em;
    align-items: center;
}
.fas {
    color: hsl(348, 52%, 25%);
    font-size: 8em;
}
.content-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;

}
.content-info p {
    color: hsl(348, 52%, 25%);
    width: 10em;
    text-align: center;
}
.content-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.content-card p {
    width: 190px;
}
/* Donation Part */
.donation {
    display: flex;
    margin-top: 5em;
}
.donation > * {
    flex: 1;
    font-size: 30px;
    padding: 2em 3em;
}
.box-2{
    background-color: hsl(348, 52%, 25%);
    color: rgba(247, 226, 188, 0.87);
}
.box-1{
    background-color: rgba(247, 226, 188, 0.87);
    color: hsl(348, 52%, 25%);
}
/* Call us part */
 .call {
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin: 5em 0;
     color: hsl(348, 52%, 25%);
 }
 .call-btn
{
  display: flex;
  font-size: 1em;
  background:hsl(348, 52%, 25%);
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color:rgba(247, 226, 188, 0.87);
  letter-spacing: 2px;
  transition: 0.5s;
  width: 120px;


}
.call-btn:hover
{
  letter-spacing: 6px;
}
.social
{
  display: flex;
  align-items: center;
  /* border: 5px solid rebeccapurple; */
  padding-inline-start: 0;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  transform: scale(0.5);
  transition: 0.5s;

}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
/* Footer */

.footer {
    background-color:  hsl(348, 52%, 25%);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 2em 0;
}
.footer p {
    margin: 0;
}
/* mobile */
@media (max-width: 991px){
    body, .mission-card ul li, .header-link a{
        font-size: 27px;
    }
    .call-text{
        max-width: 300px;
    }
    .container-mission > * {
        flex: 1; 
    }
    .container-mission .mission-card {
        max-width: none;
    }
}